services:
  api:
    container_name: lunalist_update_service_api
    build: ./server
    environment:
      - GITHUB_OWNER=${GITHUB_OWNER}
      - GITHUB_REPO=${GITHUB_REPO}
      - GITHUB_BRANCH=${GITHUB_BRANCH}
      - GITHUB_PUBSPEC_PATH=${GITHUB_PUBSPEC_PATH}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - CACHE_TTL_SECONDS=${CACHE_TTL_SECONDS}
    expose:
      - "8000"
    networks:
      - internal_net
    restart: unless-stopped

  nginx:
    image: nginx:1.27-alpine
    container_name: lunalist_update_service_nginx
    depends_on:
      - api
    ports:
      # optional lokal: http://localhost:8080
      - "33080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - internal_net
      - external_net
    restart: unless-stopped

networks:
  internal_net:
    external: true
  external_net:
    external: true  